<!DOCTYPE html>
<html>
    <head>
       <meta charset = 'UTF-8'>
       <meta name="viewport" content="width=device-width, initial-scale=1"> 
       <title>Blog Mark1</title>
    </head>

    <body>
        
    <div class="container site-title" style="text-align: center;">
        <a href='/'><h1 style="align-items: center;">Blog Mark1</h1></a>
        <!-- <%- include('D:/Machine learning/topics/backend/blog_app/partials/nav.ejs') %> -->
        <div class='sign_up'>
            <form action='/users' method='POST'>
                <div class="form-group">
                    <div style="padding-bottom: 20px;">
                        <label for='Username'>Username(email id)</label>
                        <input type='email' id="Username" name='Username' required>
                    </div>
                    <div style="padding-bottom: 20px;">
                        <label for ='Password'>Password:</label>
                        <input type='password' id='Password' name='Password' required>
                    </div>
                    <div style="padding-bottom: 20px;">
                        <label for='Confirm_password'>Confirm password:</label>
                        <input type='password' id='Confirm_password' name='Confirm_password' required onchange='check_pass();'>
                    </div>
                    <button id='submit'>Submit</button>
                </div>
            </form>
            <h4>Already a Member: <a href='.\signin'><button>Sign In</button></a> </h4>
        </div>
    </body>

    <script>
        function check_pass() {
    if (document.getElementById('Password').value ==
            document.getElementById('Confirm_password').value) {
        document.getElementById('submit').disabled = false;
        
    } else {
        document.getElementById('submit').disabled = true;
        alert(" Both Passwords do not match ");
        document.getElementById('Password').value='';
        document.getElementById('Confirm_password').value='';
        document.getElementById('submit').disabled = false;
    }
}
    </script>
</html>